@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
    /*background-image: url('../Images/background2.jpg');*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main-container{
    margin: 0;
    padding: 0;
    background: url('../Images//background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: blanchedalmond;
}
p {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 0.8em 1.2em;
}
.logo {
    width: 50px;
    height: 50px;
}
.hide-mobile {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
}
.fa {
    margin-top: 45%;
}

.energy-drink {
    width: 50%;
    margin: 2em auto 2em auto;
}
h1, .subhead{
    position: relative;
    z-index: 3;
}
.subhead {
    font-size: 1.3em;
}

.brown-container {
    width: 100%;
    background:#D2691E;
    color: white;
    margin-top: 0;
    padding: 1em 0 ;
}
.brown-container img {
    height: 75px;
}

.footer-container {
    width: 100%;
    background: #3d444a;
    color: #fff;
    padding: 3em 0;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(0, 0, 0);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}
nav ul li a {
    color: rgb(255, 235, 205);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
}
.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em
}
.exit-btn img {
    height: 20px;
}
.exit-btn img:hover {
    cursor: pointer;
}

nav ul li a:hover {
    background-color: rgb(47, 47, 47);
}

@media only screen and (min-width: 650px) {
    .energy-drink {
        width: 30%;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .subhead {
        font-size: 1.4em; 
        margin-bottom: 12%;
    }

    .brown-container {
        margin: 0;
    }

    .brown-container img {
        width: 20%;
        height: 20%;
    }
    .brown-container ul {
        display: flex;
        margin: -1em;
        align-items: center;
    }
    .brown-container ul li {
        margin-bottom: 0;
    }
    .brown-container ul li p {
        padding: 0 .8em
    }
    nav ul {
        width: 40%;
    }
}
@media only screen and (min-width: 875px) {
    
    .subhead{
        margin-bottom: 15%;
    }
    .brown-container {
        margin: 0 0 0 0;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .show-desktop {
        display: block;
        margin: 0 auto 13% auto;  
    }
    .hide-desktop {
        display: none;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;    
    }
    nav ul li a {
        color: blanchedalmond;
        background-color: inherit;
        text-align: left;
        padding: 1em 2em;
    }
    nav ul li a:hover {
        background: none;
    }
}

@media only screen and (min-width: 1600px){
    .energy-drink {
        width: 6%;
        margin: 5em auto 4em 15%
    }
    .container{
        width: 70%;
    }
    .brown-container {
        padding: 7em 0 2em;
    }
    .brown-container ul li p {
        font-size: 1.3em;
    }
}

