@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("../Images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat" sans-serif;
}

form{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    background: rgb(255, 235, 205);
    text-align: center;
}
form h1, label, h2{
    color: #564D40;
    text-transform: uppercase;
    font-weight: 500;
}
form li a {
    color: rgb(255, 235, 205);
    text-decoration: none;
}
form input[type = "text"], input[type = "password"], input[type = "passwordRepeat"], input[type= "email"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #564D40;
    width: 200px;
    outline: none;
    color: #564D40;
    border-radius: 24px;
    transition: 0.25s;
}
form input[type = "text"]:focus, input[type = "password"]:focus, input[type = "passwordRepeat"]:focus,input[type= "email"]:focus{
    width: 200px;
    border-color: #2ecc71;
}

form input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #564D40;
    padding: 14px 40px;
    outline: none;
    color: #564D40;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background: #564d40;
    color: blanchedalmond;
}

@media only screen and (max-width: 650px) {
    body{
        background: #564d40;
    }
    form{
        width: 300px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(255, 235, 205);
        text-align: center;
    }
}
